$gray: #D3D3D3;

$colorBlue: #3C89E7;
$colorBlack: #1B1918;
$colorRed: #D40025;
$colorWhite: #FFFFFF;
$colorPrimary: #3C89E7;

:root {
  --translucent-dark: rgba(0, 0, 0, 0.19);
  --dark-white: rgba(255, 255, 255, 0.88);
}